.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outter-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
